body *{
}
* {
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
section
{
    -moz-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none;
    -o-user-select:none; 
    user-select:none;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu {
	display: block
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,.35)
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-weight: 300;
	font-family: 'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	line-height: 1.231;
	-webkit-touch-callout: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	position: relative
}

img {
}

img:not([src*="/"]) {
	display: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

th,td,caption {
	vertical-align: middle
}

textarea {
	resize: none;
	border: 0;
	padding: 8px 0;
	border-radius: 0
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: 400
}

.content {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box{
	width:700px;
	height:400px;
	margin:100px auto;
	position: relative;
	overflow:hidden;
}

.mbox,.J-outer{
	width:100%;
	height:100%;
}
.mbox .J-dom{
  font-family: "微软雅黑";
  color:#fff;
  text-align:center;
  font-size:30px;
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    z-index: 0;
    display: none;
    -webkit-transform-origin: center center;
    background: #fff;
}
.J-dom.z-current {
    z-index: 1;
    display: inline-block;
}
.J-dom.z-active {
    z-index: 2;
    display: block
}
.z-current {
    opacity: 1;
}
.mbox .J-dom div{
	height:100%;
	position:relative;
}
.mbox .J-dom div span{
	position: absolute;
    top:50%;
    left:50%;
    width:120px;
    height:30px;
    display: block;
    text-align:center;
    margin:-15px 0 0 -60px;
}
.box .J-dom{
   width:700px;
   height:400px;
  font-family: "微软雅黑";
  color:#fff;
  text-align:center;
  font-size:30px;
  line-height:400px;
}
.li1{
	background-color:coral;
}
.li2{
	background-color:#999;
}
.li3{
	background-color:burlywood;
}
.li4{
	background-color:brown;
}
.li5{
	background-color:royalblue;
}
.li6{
	background-color:#000;
}
.box span.pre,.box span.next,.mbox span.pre,.mbox span.next{
	display:inline-block;
	padding:10px;
	background:#666;
	position: absolute;
	top:50%;
	width:20px;
	text-align: center;
  font-size:30px;
  height:60px;
  font-family: '宋体';
  line-height: 60px;
	color:#fff;
	margin-top:-40px;
	cursor: pointer;
	z-index:999;
    
}
.box span.pre,.mbox span.pre{
	left:0;
}
.box span.next,.mbox span.next{
	right:0;
}
.navBtn{
	position: absolute;
	bottom:15px;
	left:0;
	right:0;
	text-align: center;
}
.navBtn span{
	display:inline-block;
	height:10px;
	width:10px;
	background-color:#fff;
	margin:0 4px;
	border-radius:50%;
	-webkit-border-radius:50%;
	cursor: pointer;
}
.navBtn span.active,.navBtn span:hover{
	background-color:red;
}
.pc{
	
}
.wap,.pc{
	position: absolute;
	top:0;
	right:0;
	display:block;
	width:50px;
	z-index:999;
	color:#fff;
	text-align: center;
	background-color:#000;
	line-height:30px;
}
